<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Import json file</h5>
        <div class="gf-form-inline">
            <div class="gf-form" ng-if="!ctrl.panel.jsonContent">
                <label class="gf-form-label width-20">Upload json file</label>
                <dash-upload on-upload="ctrl.upload_button_click(dash)"></dash-upload>
            </div>
            <div class="gf-form" ng-if="ctrl.panel.jsonContent">
                <label class="gf-form-label width-20">Remove json file</label>
                <button class="btn btn-success" ng-click="ctrl.delete_json_click()">Remove</button>
            </div>
        </div>
</div>
